<!DOCTYPE html>
<html>
	<head>
		<title>asgn name</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../nice_style/reset.css" />
		<link rel="stylesheet" type="text/css" href="../nice_style/style.css" />
		<link href="../nice_style/prettify/prettify.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="../nice_style/prettify/prettify.js"></script>
	</head>
	<body onload="prettyPrint()">
		<div id="content">
			<article>
				<h1><a href="http://cs.brown.edu/courses/cs132">CS132</a> Assignment One, HTML/CSS.</h1>
				<div id="summary">You will be doing a two part <a href="http://google.com">assignment</a> in which you first style a TA provided page to spec and then apply the knowledge gained to create a <a href="http://bing.com">website frontend</a> of your own, either for a <a href="http://zethrae.us">personal page</a> about yourself, or to replace the current (stolen) <a href="http://yahoo.com">courses website</a>.
				</div>
				<h2>Part One.</h2>
				<section>
					<ol>
						<li>Build a web page from the mockup at 'HTML_part_1_mockup.png'.</li>
						<li>
							<ol>
								<li>what is <strong>this shit?</strong></li>
								<li>what is <em>this shit?</em></li>
								<li>what is this shit?</li>
								<li>what is this shit?</li>
							</ol>
						</li>
						<li>Some more information is available in 'HTML_part_1_annotated.png'. Importantly the top bar is to be always present when scrolling (much like the one currently on facebook).</li>
						<li>The file 'appstack.html' contains all of the HTML required to generate the website. You should *not* edit it.
						</li>
						<li><strong>All work</strong> <code class="prettyprint">should be</code> done in 'css/style_base.css'. We are enforcing the principle of separation of style (the css you are writing) and content (the existing HTML).</li>
					</ol>
					<p>We do not expect you to be pixel perfect to the mockup. In fact this will inherently not be the case in some browsers and small differences exist in the various rendering engines. <code class="prettyprint">However</code>, we do expect you to stay true to the design and to attempt to eyesores such as uneven sections which are shown to be even in the mockup.</p>
					<pre><code class="prettyprint">h1, h2, h3{
		font-variant: small-caps;
		color: #946113;
		color: #9d9979;
	}
	h1{
		font-size: 2em;
		line-height: 1.4em;
		margin: 0 0 0.2em 0;
	}
	h2{
		font-size: 1.7em;
		line-height: 1.3em;
		margin: 0 0 0.2em 0;
	}
	h3{
		font-size: 1.4em;
		line-height: 1.2em;
		margin: 0 0 0.1em 0;
	}
	article{
		background-color: #fefefe;
		padding: 40px 40px 50px 40px;
		border: 1px solid #bbb;
		box-shadow: 1px 3px 5px #888;
		min-width: 700px;
		max-width: 900px;
		margin: 0 auto;
	}</code></pre>
					<p>Oh blah blah be pixel perfect to the mockup. In fact this will inherently not be the case in some browsers and small differences exist in the various rendering engines. However, we do expect you to stay true to the design and to attempt to eyesores such as uneven sections which are shown to be even in the mockup.</p>
					<blockquote>Oh blah blah be pixel perfect to the mockup. In fact this will inherently not be the case in some browsers and small differences exist in the various rendering engines. However, we do expect you to stay true to the design and to attempt to eyesores such as uneven sections which are shown to be even in the mockup.</blockquote>
					<p>Oh blah blah be pixel perfect to the mockup. In fact this will inherently not be the case in some browsers and small differences exist in the various rendering engines. However, we do expect you to stay true to the design and to attempt to eyesores such as uneven sections which are shown to be even in the mockup.</p>
				</section>
				<hr />
				<h2>Part Two.</h2>
				<section>
					<p>Code and design your own front-end website! If you want to make yourself a personal page with a bit about yourself, what you've done with your life, your resume, etc, that's an option. If you want to do something else, you can re-design the course website. We'll be replacing the current course website with the TAs' favourite of all re-designs.</p>
				</section>
				<h2>Important Concepts.</h2>
					<section>
					<ul>
						<li>CSS Selectors</li>
						<li>The Box Model</li>
						<li>Using sprites in CSS</li>
						<li>CSS Pseudo-Selectors</li>
						<li>Centering</li>
						<li>CSS tags:
							<ul>
								<li><code>position</code></li>
								<li><code>float</code></li>
								<li><code>clear</code></li>
								<li><code>background</code></li>
								<li><code>background-position</code></li>
								<li><code>z-index</code></li>
								<li><code>display (inline, block, inline-block)</code></li>
								<li><code>width</code></li>
								<li><code>height</code></li>
								<li><code>margin</code></li>
								<li><code>padding</code></li>
								<li><code>color</code></li>
								<li><code>background-color</code></li>
							</ul>
						</li>
					</ul>
					<p><code class="prettyprint">New Line();</code> of text line of text line of text line of text line of text line of text line of text line of text line of text line of text line of text line of text line of text </p>
				</section>
			</article>
		</div>
	</body>
</html>
